@inject UserManager<AppUser> usermanager
@{
    AppUser member = User.Identity.IsAuthenticated ? usermanager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name) : null;
}
@using Microsoft.AspNetCore.Identity;
@using SweetHome.Models;
@using SweetHome.ViewModels;
@model HomeVM
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
        <!-- ltn__slide-item -->
        @foreach(var item in Model.Sliders){
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal ltn__slide-item-3">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title white-color--- animated"><span>@(Html.Raw(item.Icon))</span>@item.Name</h6>
                                    <h1 class="slide-title animated ">@item.Title</h1>
                                    <div class="slide-brief animated">
                                        <p>@item.Description</p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a asp-controller="Shop" asp-action="Index" class="theme-btn-1 btn btn-effect-1">Go to Shop</a>
                                    </div>
                                </div>
                            </div>
                            <div class="slide-item-img">
                                <img src="~/assets/img/slider/@item.Image" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<!-- SLIDER AREA END -->
<!-- CAR DEALER FORM AREA START -->
<div class="ltn__car-dealer-form-area mt--65 mt-120 pb-115---">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__car-dealer-form-tab">
                    <div class="ltn__tab-menu  text-uppercase d-none">
                        <div class="nav">
                            <a class="active show" data-bs-toggle="tab" href="#ltn__form_tab_1_1"><i class="fas fa-car"></i>Find A Car</a>
                            <a data-bs-toggle="tab" href="#ltn__form_tab_1_2" class=""><i class="far fa-user"></i>Get a Dealer</a>
                        </div>
                    </div>
                    <div class="tab-content bg-white box-shadow-1 ltn__border position-relative pb-10">
                       @await Component.InvokeAsync("Filter")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CAR DEALER FORM AREA END -->
@await Component.InvokeAsync("About")
<!-- PRODUCT SLIDER AREA START -->
<div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
                    <h1 class="section-title">Featured Listings</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">
            @foreach (var item in Model.Products)
            {
                <!-- ltn__product-item -->
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-4 text-center---">
                        <div class="product-img">
                            <a href="product-details.html"><img src="~/assets/img/product-3/@(item.ProductImages.Where(x=>x.IsMain==true).FirstOrDefault()?.Image)" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge bg-green">@item.Category.Name</li>
                                </ul>
                            </div>
                            <div class="product-img-location-gallery">
                                <div class="product-img-location">
                                    <ul>
                                        <li>
                                            <a><i class="flaticon-pin"></i>@item.City.Name</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                <span>$@item.Price<label></label></span>
                            </div>
                            <h2 class="product-title"><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a></h2>
                            <div class="product-description">
                                <p>
                                    @item.Description
                                </p>
                            </div>
                            <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                <li>
                                    <span>@item.Room <i class="flaticon-bed"></i></span>
                                    Room
                                </li>
                                <li>
                                    <span>@item.HomeSize sqft </span>
                                    Area
                                </li>
                            </ul>
                        </div>
                        <div class="product-info-bottom">
                            <div class="real-estate-agent">
                                <div class="agent-img">
                                    <a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Team.Id"><img src="~/assets/img/team/@item.Team.Image" alt="#"></a>
                                </div>
                                <div class="agent-brief">
                                    <h6><a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Team.Id">@item.Team.Name</a></h6>
                                </div>
                            </div>
                            <div class="product-hover-action">
                                @if (member != null)
                                {
                                    if (member.IsAgent == false)
                                    {
                                        <ul>
                                            <li>
                                                <form asp-controller="Wishlist" asp-action="addwishlist" asp-route-id="@item.Id" method="post">
                                                    <button type="submit"><i class="flaticon-heart-1"></i></button>
                                                </form>
                                            </li>
                                            <li>
                                                <form asp-controller="Order" asp-action="CheckOut" asp-route-teamid="@item.Team.Id" asp-route-id="@item.Id" method="post">
                                                    <button type="submit"><i class="flaticon-add"></i></button>
                                                </form>
                                            </li>
                                        </ul>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--  -->
        </div>
    </div>
</div>
<!-- PRODUCT SLIDER AREA END -->