@using SweetHome.Models;
@model List<Product>
@foreach (var item in Model)
{
    <!-- ltn__product-item -->
    <div class="col-lg-4 col-sm-6 col-12">
        <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
            <div class="product-img">
                <a href="product-details.html"><img src="~/assets/img/product-3/@item.ProductImages.Where(x=>x.IsMain==true).FirstOrDefault()?.Image" alt="#"></a>
                <div class="real-estate-agent">
                    <div class="agent-img">
                        <a asp-controller="Team" asp-action="Detail" asp-route-id="@item.Team.Id"><img src="~/assets/img/team/@item.Team.Image" alt="#"></a>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <div class="product-badge">
                    <ul>
                        <li class="sale-badg">@item.Category.Name</li>
                    </ul>
                </div>
                <h2 class="product-title"><a href="product-details.html">@item.Name</a></h2>
                <div class="product-img-location">
                    <ul>
                        <li>
                            <a><i class="flaticon-pin"></i>@item.City.Name</a>
                        </li>
                    </ul>
                </div>
                <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                    <li>
                        <span>@item.Room </span>
                        Room
                    </li>
                </ul>
                <div class="product-hover-action">
                    <ul>
                        <li>
                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                <i class="flaticon-heart-1"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-info-bottom">
                <div class="product-price">
                    <span>$@item.Price<label></label></span>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
}